/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 微軟正黑體;
	text-decoration: none;
	color: #000;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}
*{/*outline: 1px solid red;*/
	margin:0;
	padding: 0;
	}
	
/*=----------------主圖sec1*/

.sec1{
	background-color: #C8AB7E;
	width: 100%;
	height: 350px;
	position: relative;
	margin-bottom: 150px;


}
.sec1 .main-pic{
	width: 85%;
	max-width: 1300px;
	height: 100%;
	overflow: hidden;
	background-image: url(buymain3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

}
.sec1 .main-pic .main-title{
	width: 250px;
	height: 110px;
	padding: 25px;
	background-color: rgba(255,255,255,.5);
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	animation-name: zoom;
	animation-duration: .9s;
	animation-fill-mode: both; 
	/*line-height: 3em;*/
	
}

.sec1 .main-title h1{
	font-size: 35px;
	font-weight: bold;
	color: #533;
	line-height: 2em;
	text-shadow: 2px 1px 2px rgba(0,0,0,.3);
}

.sec1 .main-title h2{
	font-size: 20px;
	line-height: 2em;
}
@keyframes zoom{
	0%{opacity: 0;
		transform: scale3d(.3,.3,.3);}
	100%{opacity: 1;

	}
}


/*------------------標籤*/
.sec2{
	width: 100%;
}
.sec2 .buy-love{

	margin: auto;
	box-sizing: border-box;

}
.sec2 .tab{
	
	overflow: hidden;
	display: flex;
	justify-content: center;

	
	margin: auto;
}

.sec2 .tab button{
	
	border:dashed #C8AB7E;
/*	border-left: 2px dashed #C8AB7E;
	border-right: 2px dashed #C8AB7E;
	border-top: 2px dashed #C8AB7E;
	border-bottom: : 2px dashed rgba(240,253,202,1);*/
	border-radius: 100px 100px 0 0;
	float: left;
	transition: .3s;
	background-color: transparent;
	cursor: pointer;
	font-family: 微軟正黑體;
	white-space: nowrap;
	font-weight: bold;
	color: #C8AB7E;

}

.sec2 .tab button:last-child{
	border-style: none;
	border:1px dashed #ccc;
	/*border-radius: 20px 20px 0 0;
	padding: 10px 5px 0 5px;
	color: #777;
	font-weight: lighter;*/
}

.sec2 .tab button:focus{
	outline: none;
}

.sec2 .tab button.active {
    background-color: #C8AB7E;
    color: rgba(240,253,202,1);
}



.sec2 .tabcontent {
  
  	box-sizing: border-box;
 /* 	padding-top: 50px;*/
    margin: auto;
  
   /* padding: 10px;*/
    border-top: 4px dashed  #C8AB7E;
	display: none;
	
	
    
}   


.sec2 .tabcontent:nth-child(2){
	display:flex;
} 

.sec2 .product{

	/*min-width: 280px;*/

	background-color: #fff;
	position: relative;
	/*margin-top: 50px;*/
	

}
.sec2 .product .pic{

  }
 .sec2 .product img{
 
 }

 .sec2  .txt{
  

  } 
     
.sec2 .product h3{
  
  	font-weight: bold;
  	color: rgba(200,0,0,.8);
  
  }
.sec2 .product .txt div{
  
  }

.product .txt div a{
  	color: #777;
  	text-decoration: none;
  }
.product .txt div a:hover{
 	font-weight: bold;
 }

.product .tag{
  	display: block;
  	width: 0;
  	height: 0;
  	border-style: solid;
  	border-width: 0 0 85px 85px;
  	border-color: transparent transparent rgba(240,100,0,.7) transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	text-decoration: none;
	
  }

.product .tag p{
	position: absolute;
	right: 0;
	top: 55px;
	bottom: 0;
	left: -50px;
	margin: auto;
	font-family: arial;
	color: rgba(255,253,202,1);
  	font-size: 22px;
  	transition: .4s;
}

.product .tag:hover p{
	color: rgba(150,255,90,.7);
}
.sec2 .page{
	width: 100%;
	padding: 0 40px;
	padding-top: 50px;
	
}
.sec2 .page-wrap{
	margin: auto;
	
	;
	display: flex;
/*	float: right;*/
	justify-content: space-around;

}

.sec2 .page a{
	display: flex;
	box-sizing: border-box;
	width: 50px;
	height: 50px;	
	padding-bottom: 3px;
	background-color: rgba(200,0,0,.8);
	color: rgba(255,253,202,1);
	border-radius: 50%;
	
	text-decoration: none;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-family: comic sans MS;
	/*margin: 20px 7px;*/
	transition: .5s;


	}

.sec2 .page a:hover{
		background-color: rgba(240,100,0,.9);
}


.sec2 .faq h3{
	background: url(open.png) no-repeat 0 5px;
	padding: 5px 0 5px 25px;
	cursor: pointer;
	
}

.sec2 .faq-list{
	width: 70%;
	
	margin: 40px auto;
}

.sec2 .faq h3.close {
	background-image: url(close.png);
}
.faq {
	border-radius: 10px;
	border:2px solid rgba(240,100,0,.4) ;
	padding: 10px;
	margin-bottom: 10px;
}
.answer {
	margin-left: 25px;	
	line-height: 1.6em;
}
.answer ul{
	margin: 20px 0;
	line-height: 1.8em
	
}


	
footer{
	width: 100%;
	/*margin-top:100px;*/
	
	background-image: url(footer-fade.png);
	position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	
	font-weight: bold;
	text-align: center;
	line-height: 2em;
	
	position: relative;
	
	
	
}
footer .copy p{
	font-size: 15px;
	color: #555;
}


/*.foot{
		margin: auto;
		width: 400px;
		line-height: 1.5em;
		font-weight: bold;
		font-family: 微軟正黑體;

	}*/
	footer ul{
		font-size: 0px;
		margin: auto;
	}
	
	footer ul li{
		display: inline-block;
		position: relative;
		/*border-right: 1px solid #666; */
		
	}
	footer ul li:after{
		display: block;
		content: '';
		width: 2px;
		height: 15px;
		background-color:#aaa;
		position: absolute;
		right: 0;
		top: 10px;
	}
	footer li:last-child{
		border-right: none;
	}
	footer li a{
		font-size: 16px;
		vertical-align: bottom;
		text-decoration: none;
		color: #444;
	}
	.social-icon{
		
		/*box-sizing: border-box;*/
		/*z-index: 2;*/
		/*background-image: url(bb.jpg);*/
		/*position: relative;*/
		/*position: absolute;*/
	/*	overflow: hidden;*/
		
		font-size: 0;
		/*padding: 10px 1% 0 0;*/
		position: absolute;
		
		/*bottom: 0;*/
		
		font-size: 0;
		
		
	}
	.social-icon  img{
	
		vertical-align: bottom;	
		/*height: 25px;*/
		transition: .4s	
		
	}
	.social-icon  img:hover{
		transform: translateY(-4px);
	}






